html { overflow-y: hidden; }
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
div.panes-wrap {
  overflow-x: scroll;
  width: max-content;
  padding-right: 100px;
  white-space: nowrap;
}
div.panes {
  display: inline-block;
  min-width: 300px;
  vertical-align: top;
  padding: 10px 22px 20px;
  /* border-left: 1px solid #ddd; */
  border-right: 1px solid #ddd;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
div.panes .remove-pane {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 2px;
  border-width: 0 0 1px 1px;
  font-size: 10px;
  padding: 0px 4px;
  z-index: 1000;
  background: white;
  border-color: #ddd;
  color: #ddd;
}
div.panes .remove-pane:hover {
  background: #333;
  border-color: #333;
}
/* div.panes.pane0 { border-width: 0; } */
p.pane-head { font-size: 18px; padding-bottom: 9px; }
p.pane-head > .btn { float: right; }
.form-control { border-radius: 2px; padding: 4px 8px; font-size: 12px; }
select.form-control { height: 28px !important; }
.my-btn {
  font-weight: bold; letter-spacing: 1px; font-size: 12px;
  text-transform: uppercase;
}
#backstage { display: none; }
.jconfirm-title-c { cursor: move !important; }

.update-form.hidden { display: none; }

.navy-aimed { opacity: 0.7; }
form .cloned { display: none; }

.fr-command.fr-btn.fr-active+.fr-dropdown-menu {
  margin-left: 0 !important;
}
