<div><a href="<%= prefix_path(replace_pane(i+1, type, 'edit', {uuid: item['uuid']})) %>"
  data-navy-scroll-left="div.panes:last">
  <span style="
    display: inline-block; max-width: 700px; text-overflow: ellipsis;
    overflow: hidden; vertical-align: top;
    ">
    <%= Rack::Utils.escape_html(item['name'] || item['uuid']) %>
  </span>
  <small style="color: #888;">
    <%- updated_at = Time.at(item['updated_at'].to_i) %>
    <time class="timeago" datetime="<%= updated_at %>"><%= updated_at %></time>
  </small>
</a></div>
