<p class="pane-head"><%= type.titleize %>
  <div class="btn-group" style="
    position: absolute;
    top: 11px;
    right: 22px;
    ">
    <a class="btn btn-sm my-btn btn-outline-info"
      href="<%= prefix_path(replace_pane(i+1, type, 'new', {})) %>">
      <i class="fa fa-plus"></i>
    </a>

    <a class="btn btn-sm my-btn btn-outline-info"
      href="<%= prefix_path(replace_pane(i+1, type, 'options', {})) %>">
      <i class="fa fa-gear"></i>
    </a>
  </div>
</p>

<%-
  display_options = get_display_options(type)
  display_options['display_fields'] ||= []
  display_name_field = [@schema[type]['display_name_field'] || 'name'].flatten
  query_fields = display_name_field + ['updated_at'] + display_options['display_fields']
  if display_options['sort_by'].to_s != ''
    sort_by_field, _ = display_options['sort_by'].split('.')
    query_fields += [sort_by_field]
  end
  items = Gendb::DB[type].all(_fields: query_fields.uniq)
  if display_options['sort_by']
    sort_by_field, sort_by_type = display_options['sort_by'].split('.')
    if sort_by_type == 'numeric'
      items.sort_by! { |item| item[sort_by_field].to_i }
    else
      items.sort_by! { |item| item[sort_by_field] || '' }
    end
  end
-%>

<table class="table table-sm">
  <thead>
    <tr style="font-size: 12px">
      <th>Name</th>
      <%- display_options['display_fields'].each { |field| -%>
        <th><%= field.titleize %></th>
      <%- } -%>
      <th>Updated At</th>
    </tr>
  </thead>
  <tbody>
    <%- items.each { |item| -%>
      <%- display_name = item.values_at(*display_name_field).join(' / ') -%>
      <tr>
        <td>
          <%- if item['uuid'] == next_uuid -%>
            <%= Rack::Utils.escape_html(display_name || item['uuid']) %>
          <%- else -%>
            <a href="<%= prefix_path(replace_pane(i+1, type, 'edit', {uuid: item['uuid']})) %>"
              data-navy-scroll-left="div.panes:last">
              <span style="
                display: inline-block; max-width: 700px; text-overflow: ellipsis;
                overflow: hidden; vertical-align: top;
                ">
                <%= Rack::Utils.escape_html(display_name || item['uuid']) %>
              </span>
            </a>
          <%- end -%>
        </td>
        <%- display_options['display_fields'].each { |field| -%>
          <td><small><%= item[field] %></small></td>
        <%- } -%>
        <td>
          <small style="color: #888;">
            <%- updated_at = Time.at(item['updated_at'].to_i) %>
            <time class="timeago" datetime="<%= updated_at %>"><%= updated_at %></time>
          </small>
        </td>
      </tr>
    <%- } -%>
  </tbody>
</table>
