<%- item = Gendb::DB[type].get(query['uuid']) -%>
<%- linkages = @schema[type]['linkages'] -%>

<%- if item.nil? -%>
  <p class="pane-head">Edit
    <small style="color: #999;"><%= type.titleize %></small>
  </p>
  <p>Item not found.</p>

<%- else -%>
  <div style="width: 1000px">
    <div class="row">
      <div class="col-lg-9"
        style="border-right: 1px solid #eee;"
        >
        <form action="<%= prefix_path("/update") %>" method="post" accept-charset="utf-8"
          class="form form-horizontal navy-peek"
          enctype="multipart/form-data"
          >
          <p class="pane-head">Edit
            <small style="color: #999;"><%= type.titleize %></small>
            <button class="btn btn-sm my-btn btn-outline-info"
              >Save</button>
          </p>
          <input type="hidden" name="type" value="<%= type %>">
          <input type="hidden" name="uuid" value="<%= query['uuid'] %>">
          <div style="text-align:right; margin-top: -10px;">
            <small style="color: #bbb">ID: <%= query['uuid'] %></small>
          </div>

          <%= erb :"_resource-form", locals: locals.merge(item: item) %>
        </form>
      </div>

      <div class="col-lg-3">
        <%- linkages.each { |link_type, link_category| -%>
          <p class="pane-head">
            <%= link_type.titleize %>
            <small style="color: #999;"><%= link_category %></small>
          </p>

          <%- if link_category == '1-n' -%>
            <%- if @schema[link_type]['support_manage_by_batch'] -%>
              <a href="<%= prefix_path("/batch-manage-modal/#{link_type}?locks[#{type}_uuid]=#{item['uuid']}") %>" class="btn btn-sm my-btn btn-block btn-outline-info navy-peek"
                data-navy-aimed="#backstage"
                >Batch Manage
              </a>
            <%- else -%>
              <%- Gendb::DB[link_type].all(type.to_sym => item['uuid'], _fields: %w[name updated_at]).each { |link_item| -%>
                <%= erb :"_item_link", locals: {i: i, type: link_type, item: link_item} %>
              <%- } -%>
            <%- end -%>

          <%- else # many to one -%>
            <%- link_item = Gendb::DB[link_type].get(item["#{link_type}_uuid"]) -%>
            <%- if link_item -%>
              <%= erb :"_item_link", locals: {i: i, type: link_type, item: link_item} %>
            <%- end -%>
          <%- end -%>
          <br />
        <%- } -%>

        <hr />
        <p class="pane-head">Manage</p>

        <%- [
          ["/clone", "Are you sure to clone this #{type}?", "CLONE", 'primary'],
          ["/delete", "Are you sure to delete this #{type}?", "DELETE", 'danger'],
          ].each { |path, confirm_msg, btn_msg, btn_class| -%>
          <form action="<%= prefix_path(path) %>" method="post" accept-charset="utf-8"
            data-confirm="<%= confirm_msg %>"
            class="form-horizontal navy-peek"
            enctype="multipart/form-data"
            >
            <input type="hidden" name="type" value="<%= type %>">
            <input type="hidden" name="uuid" value="<%= query['uuid'] %>">
            <button class="btn btn-sm my-btn btn-block btn-outline-<%= btn_class %>"
              ><%= btn_msg %></button>
          </form>
        <%- } -%>
      </div>
    </div>

  </div>
<%- end -%>
