<%- display_options = get_display_options(type) -%>

<form action="<%= prefix_path("/update-display-options") %>" method="post" accept-charset="utf-8"
  class="form form-horizontal navy-peek"
  enctype="multipart/form-data"
  >
  <p class="pane-head">
    Options
    <small style="color: #999;">of <%= type.titleize %></small>
    <button class="btn btn-sm my-btn btn-outline-info"
      >Save</button>
  </p>
  <input type="hidden" name="type" value="<%= type %>">

  <%- definition = @schema[type] -%>

  <label for="sort_by">Sort By</label>
  <select name="sort_by" id="sort_by" class="form-control">
    <%- definition['required'].each { |field| -%>
      <option value="<%= field %>.numeric"
        <%= 'selected' if "#{field}.numeric" == display_options['sort_by'] %>
        ><%= field.titleize %> (Numeric)</option>

      <option value="<%= field %>"
        <%= 'selected' if field == display_options['sort_by'] %>
        ><%= field.titleize %></option>
    <%- } -%>
  </select>

  <br />
  <label>Display Fields</label>
  <%- definition['required'].each { |field| -%>
    <div>
      <label><%= field.titleize %></label>
      <input type="checkbox" name="display_fields[]"
        <%= 'checked' if display_options['display_fields'].include?(field) %>
        class="pull-right"
        value="<%= field %>">
    </div>
  <%- } -%>
</form>
