<form action="<%= prefix_path("/new") %>" method="post" accept-charset="utf-8"
  class="form form-horizontal navy-peek"
  style="width: 560px"
  enctype="multipart/form-data"
  >
  <p class="pane-head">New
    <small style="color: #999;"><%= type.titleize %></small>
    <button class="btn btn-sm my-btn btn-outline-info"
      >Save</button>
  </p>
  <input type="hidden" name="type" value="<%= type %>">

  <%= erb :"_resource-form", locals: locals.merge(item: {}, fill_default: true) %>
</form>
