<p class="pane-head">Export DB</p>


<a href="<%= prefix_path("/export/gendb.#{Time.now.to_i}.gendb") %>"
  class="navy-skip btn btn-sm btn-block btn-outline-info" target="_blank">
  Export as .gendb
</a>

<br />

<form action="<%= prefix_path("/flush-all") %>" method="post" accept-charset="utf-8"
  data-confirm="Are you sure to flush all data? This is irreversible."
  class="form-horizontal navy-peek"
  enctype="multipart/form-data"
  >
  <button class="btn btn-sm btn-block btn-outline-danger"
    >Flush All Data</button>
</form>

<hr />

<form action="<%= prefix_path("/import") %>" method="post" accept-charset="utf-8"
  data-confirm="Are you sure to import the gendb file?"
  class="form-horizontal navy-peek"
  enctype="multipart/form-data"
  >
  <p class="pane-head">Import DB</p>
  <p>Non-exist records will be inserted, existing records will remain unchanged.</p>
  <input type="file" name="file"
    accept=".gendb"
    class="form-control">
  <br />
  <button class="btn btn-sm btn-block btn-outline-info"
    >Import</button>
</form>
