<%-
  format ||= :normal # support normal, tr, thead
  locks ||= {} # lock props, will replace with hidden input
  make_static ||= [] # static fields, read only
  hide_fields ||= [] # hide some fields like _batch_order
  name_prefix ||= "props"
  linkages = @schema[type]['linkages']
  prop_codes = [
    @schema[type]['required'],
    @schema[type]['props'].keys,
    linkages.map { |k, v|
      v == 'n-1' ? "#{k}_uuid" : nil
    },
    item.keys,
  ].flatten.compact.uniq - hide_fields
-%>

<%- if %i[tr thead].include?(format) -%>
<tr>
<%- end -%>



<%- prop_codes.each { |prop_code| -%>
  <%- input_name = [name_prefix, "[#{prop_code}]"].join -%>
  <%- next if %w[created_at updated_at _type uuid].include?(prop_code) -%>
  <%- if locks.key?(prop_code) -%>
    <%- if %i[normal tr].include?(format) -%>
      <input type="hidden" name="<%= input_name %>" value="<%= locks[prop_code] %>">
    <%- end -%>
    <%- next -%>
  <%- end -%>

  <%- if format == :tr -%>
  <td>
  <%- end -%>

  <%- definition = @schema[type]['props'][prop_code] || {} -%>

  <%- if format == :normal -%>
    <label for=""><%= prop_code.titleize %></label>
    <%- if definition["description"] -%>
      <div style="
        font-size: 70%;
        margin: -9px 0 4px;
        color: hsl(0, 0%, 65%);
        "><%= definition["description"] %></div>
    <%- end -%>
  <%- elsif format == :thead -%>
    <th><%= prop_code.titleize %></th>
  <%- end -%>

  <%- next if format == :thead -%>
  <%- value = item[prop_code.to_s] || (defined?(fill_default) && fill_default ? definition['default'] : '') %>

  <%- if make_static.include?(prop_code) -%>
    <%= value %>

  <%- else # not static -%>
    <%- if prop_code.end_with?('_uuid') && @schema[type]['linkages'][prop_code.split('_uuid')[0]] -%>
      <%- options = Gendb::DB[prop_code.split('_uuid')[0]].all -%>
      <select class="form-control" name="<%= input_name %>">
        <%- options.each { |option| -%>
          <option
            <%= 'selected' if item[prop_code.to_s] == option['uuid'] %>
            value="<%= option['uuid'] %>">
            <%= option['name'] %>
          </option>
        <%- } -%>
      </select>

    <%- else # if not linkage -%>
      <%- case definition['type'] || 'string' -%>
      <%- when 'string' -%>
        <span>
          <%- unless @schema[type]['required'].include?(prop_code) -%>
            <a href="javascript:void(0)"
              data-remove-prop="true"
              style="float: right; font-size: 12px; padding-top: 10px;">Remove</a>
          <%- end -%>

          <input type="text" class="form-control"
            <%= 'required' if @schema[type]['required'].include?(prop_code) %>
            name="<%= input_name %>"
            value="<%= value %>">
        </span>

      <%- when 'html' -%>
        <textarea name="<%= input_name %>"
          <%= 'required' if @schema[type]['required'].include?(prop_code) %>
          class="form-control richtext"
          rows="5" cols="40"><%= value %></textarea>

      <%- when 'fileplug_url' -%>
        <input type="text" class="form-control"
          <%= 'required' if @schema[type]['required'].include?(prop_code) %>
          name="<%= input_name %>"
          value="<%= value %>">
        <%- if format == :normal -%>
          <img src="<%= value %>" style="max-height: 100px; padding-bottom: 20px" />
        <%- end -%>

      <%- when 'number' -%>
        <input type="number" class="form-control"
          <%= 'required' if @schema[type]['required'].include?(prop_code) %>
          name="<%= input_name %>"
          value="<%= value %>">

      <%- when 'json' -%>
        <textarea name="<%= input_name %>" cols="30" rows="10"
          <%= 'required' if @schema[type]['required'].include?(prop_code) %>
          class="form-control"
          ><%= value %></textarea>

      <%- when 'longtext' -%>
        <textarea name="<%= input_name %>" cols="30" rows="10"
          <%= 'required' if @schema[type]['required'].include?(prop_code) %>
          class="form-control"
          ><%= value %></textarea>

      <%- when 'dropdown' -%>
        <%- dropdown_options = @schema.dig(type, 'props', prop_code, 'options') -%>
        <%- if dropdown_options -%>
          <select name="<%= input_name %>" class="form-control">
            <%- dropdown_options.each { |opt| -%>
              <option value="<%= opt %>" <%= 'selected' if opt == value %>><%= opt %></option>
            <%- } -%>
          </select>
        <%- else -%>
          <p>Dropdown options not found</p>
        <%- end -%>

      <%- else -%>
        <%- raise "Unknown type #{definition['type'] || 'string'}" -%>
      <%- end -%>
    <%- end -%>
  <%- end # end if not make_static -%>

  <%- if format == :tr -%>
  </td>
  <%- else -%>
  <br />
  <%- end -%>
<%- } -%>



<%- if %i[tr thead].include?(format) -%>
</tr>
<%- end -%>
