<div id="backstage">
  <div class="oneoff-modal navy-enabled"
    data-om-column-class="col-lg-12"
    data-om-title="Update <%= type.titleize.pluralize %>">

    <%- key_fields = @schema[type]['support_manage_by_batch']['key_fields'] -%>
    <%- lock_filter = params[:locks].each_with_object({}) { |(k, v), h| h[k.sub('_uuid', '')] = v } -%>
    <%- items = Gendb::DB[type].all(lock_filter) -%>
    <%- items.sort_by! { |item| item['_batch_order'].to_i } -%>

    <div class="batch-manage-modal">
      <a href="javascript:void(0)" data-toggle="form.update-form">Manage Combinations</a>
      <form action="<%= prefix_path("/batch-create/#{type}") %>" method="post"
        class="update-form hidden navy-peek" accept-charset="utf-8"
        data-navy-aimed=".batch-manage-modal">
        <%- (params[:locks] || {}).each { |k, v| -%>
          <input type="hidden" name="locks[<%= k %>]" value="<%= v %>">
        <%- } -%>
        <div class="container-fluid" style="border-left: 2px solid #eee;">
          <div class="row">
            <%- key_fields.each { |key| -%>
              <div class="col-lg-3">
                <div class="form-group">
                  <label><%= key.titleize %></label>
                  <input type="text" class="form-control"
                    name="key[<%= key %>]"
                    value="<%= items.map { |item| item[key] }.uniq.join(',') %>" />
                </div>
              </div>
            <%- } -%>
          </div>
          <button type="submit" class="btn btn-sm btn-default">Update Combinations</button>
        </div>
      </form>

      <table class="table table-sm table-borderless">
        <thead class="thead-dark">
          <%= erb :"_resource-form", locals: locals.merge(
            item: {}, fill_default: false, format: :thead,
            locks: params[:locks],
          ) %>
        </thead>
        <tbody class="clone-source">
          <%- items.each { |item| -%>
            <%= erb :"_resource-form", locals: locals.merge(
              item: item, fill_default: true, format: :tr,
              name_prefix: "props[#{item['uuid']}",
              locks: params[:locks],
              make_static: key_fields,
              hide_fields: ['_batch_order'],
            ) %>
          <%- } -%>
        </tbody>
      </table>

      <form action="<%= prefix_path("/batch-update/#{type}") %>" method="post"
        class="navy-peek"
        data-navy-aimed=".batch-manage-modal"
        data-navy-clone=".clone-source [name]"
        accept-charset="utf-8">
        <%- (params[:locks] || {}).each { |k, v| -%>
          <input type="hidden" name="locks[<%= k %>]" value="<%= v %>">
        <%- } -%>

        <div class="jconfirm-buttons">
          <button type="submit" class="btn btn-default">Update</button>
        </div>
      </form>
    </div>

  </div>
</div>


