<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <link href="<%= prefix_path("/froala_editor.pkgd.min.css") %>" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" integrity="sha256-mAmp1v6ERknmeP2oHZG53W1L+zOdSVsM25WvmZ4U+fU=" crossorigin="anonymous" />
    <link href="<%= prefix_path("/cms.css") %>" rel="stylesheet" type="text/css" />

    <title><%= site_title %></title>
  </head>
  <body>
    <div class="navy-base navy-enabled">
      <div class="panes-wrap">
        <div class="panes pane0">
          <p class="pane-head">Assets</p>
          <%- @schema.sort_by { |table, _| table }.each { |table, meta| -%>
            <%- next if meta['hide_in_top_level'] -%>
            <div>
              <a href="<%= prefix_path(replace_pane(0, table, 'list', {})) %>">
                <%= table.titleize %>
                (<%= Gendb::DB[table].count %>)
              </a>
            </div>
          <%- } -%>
          <br />
          <br />
          <br />
          <p class="pane-head">System</p>
          <div>
            <a href="<%= prefix_path(replace_pane(0, 'system', 'sys_export_import', {})) %>">
              Export / Import
            </a>
          </div>
        </div>


        <%- @q.each_with_index { |(type, action, query), i| -%>
          <div class="panes pane<%= i+1 %>">
            <a href="<%= prefix_path(remove_pane(i)) %>" class="btn btn-sm btn-outline-dark remove-pane"
              data-navy-scroll-left="div.panes:last">
              x
            </a>
            <%= erb :"_pane-#{action}", locals: {
              type: type, action: action, query: query, i: i,
              next_uuid: @q.dig(i+1, 2, 'uuid'),
            } %>
          </div>
        <%- } -%>
      </div>

      <div id="backstage"></div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.min.js"></script>
    <script type="text/javascript" src="<%= prefix_path("/froala_editor.pkgd.min.js") %>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js" integrity="sha256-0Uz1UklrpANuwqJ7M0Z54jiOE/GZwlp2EBSC6slw6j8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="<%= prefix_path("/navy-all.min.js") %>"></script>
    <script type="text/javascript" src="<%= prefix_path("/cms.js") %>"></script>

  </body>
</html>
